.timer {
  h1, h3 {
    margin: 0;
  }

  h1 {
    font-size: 1in;
  }
  
  h1.ending {
    color: red;
  }
  
  h1.blinking {
    animation:blinkingText 1s infinite;
  }
  
  @keyframes blinkingText{
    0%{     color: red;    }
    25%{     color: transparent;    }
    50%{    color: red; }
    75%{     color: transparent;    }
    100%{   color: red;    }
  }

  h3 {
    font-style: italic;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}